[Unit]
Description=Plex borg backup

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPrioity=7
ExecStartPre=/usr/bin/borg break-lock $REPOSITORY
ExecStart=/home/hunter/bin/borg/plex-backup.sh
